<%= turbo_stream_from :play, @game_id %>

<div id="grid">
  <h1>New population of cells in a grid</h1>

  <%= form_with model: @grid_data, url: play_path, builder: GridFormBuilder do |f| %>
    <% if @grid_data.errors.any? %>
      <ul class="errors">
        <% @grid_data.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= hidden_field_tag :game_id, @game_id %>

    <% %i[rows columns phases phase_duration].each do |attribute| %>
      <div>
        <%= f.label attribute, t('questions')[attribute.to_sym] %>
        <%= f.number_field_with_validations attribute %>
      </div>
    <% end %>

    <%= f.submit 'Create grid' %>
  <% end %>
</div>
