<h1>New population</h1>

<%= form_with model: @grid_data, url: root_path do |f| %>
  <% if @grid_data.errors.any? %>
    <ul class="errors">
      <% @grid_data.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <% Grid.attribute_names.each do |attribute| %>
    <div>
      <%= f.label attribute, t('questions')[attribute.to_sym] %>
      <%= f.number_field attribute,
        required: true, 
        **step(attribute), 
        **min_and_max(attribute) %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
